{% extends 'base_2.html' %}
{% block title %} Login {% endblock %}
{% block content %}
    <br>
    <h1 style="color:lightseagreen;text-align: center;font-weight:1000;font-size: 45px;">Login</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <br>
        {% if error_message %}
            <p class="p-d ml-b" 
               style="color:#f44336;
                      padding:9px;
                      padding-left: 20px;
                      margin-left: 25px;
                      ">
                   {{ error_message }}
            </p>
        {% endif %}
        {{ form.username }}
        {{ form.password }}
        <br>
        <br>
        <label class="remember me">
            {{ form.remember_me }}
            Remember me
        </label>
        
        <br>
        <br>
        <button type="submit" class="btn btn-login">Sign in </button>
        <br>
        <label style="margin-left: 35%;color:gray">
            Don't have an account ? create
            <a href="{% url 'todo:signup' %}">
                here
            </a>
        </label>
        <br>
        <br>
        
    </form>

{% endblock%}